@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight{
  0%{
    opacity: 0;
    transform: translatex(100px);
  }
  80%{
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.active{
  color: var(--color-indian-yellow);
}


@layer base {
  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /* html{
    font-size: 62.5%;
  } */

}

@theme {
  --font-inter: "Inter";
  --font-Albert-sans: 'Albert Sans';

  --color-midnight-green: #025959;
  --color-rich-black: #013440;
  --color-indian-yellow: #e3a54f;
  --color-bright-gray: #e5f3ec;
  --color-white: #fff;
  --color-slate-gray: #76888799;
  --color-slate-gray-transparent: rgba(118, 136, 135, 0.8);
  --color-midnight-green-transparent: rgba(2, 89, 89, 0.6);
  --color-prussian-blue: #042D48;
  --color-modal-bg: rgba(189, 200, 195, 0.9);

  --animate-moveInTop: moveInTop 0.2s ease-in-out;
  --animate-fadeInBottom: fadeInBottom 1s ease-in-out;
  --animate-fadeInLeft: fadeInLeft 1s ease-in-out;
  --animate-fadeInRight: fadeInRight 1s ease-in-out;
}

@layer components {
  .nav {
    @apply py-4 px-8 font-medium max-[650px]:px-6 fixed z-20 w-full;
    /* font-weight: 500; */
    li{
      @apply hover:text-indian-yellow;
    }
  }

  .btn {
    @apply rounded-xl text-white  py-2 px-4 cursor-pointer font-medium font-inter;
  }

  .mobile-menu {
    @media (width <= 639px) {
      position: absolute;
      right: 0;
      top: 0;
      

      li:not(:first-child) {
        margin-bottom: 0;
      }

      @apply max-sm:w-[70%] h-screen py-10 gap-2 text-bright-gray bg-midnight-green-transparent backdrop-blur-md animate-moveInTop;
    }
  }

  .card{
    @apply flex flex-col gap-3 text-white font-inter items-center;

    img{
      @apply w-10
    }

    h2{
      @apply  font-medium text-xl mb-3
    }
  }

  .h1{
    @apply font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl font-Albert-sans;
  }

  .main{
    @apply mt-5 px-8;
  }

  .p{
    @apply font-inter leading-6 text-xs sm:text-sm md:text-base lg:text-lg;
  }

}

.link{
  @apply bg-midnight-green text-white py-2 px-4 rounded-lg font-medium hover:bg-rich-black transition duration-300 font-inter cursor-pointer;
}

.leaflet-popup-content-wrapper {
  border-left: 3px solid var(--color-indian-yellow);
}

.leaflet-control-attribution a{
  display: none !important;
}
